<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Disburse Pension</h1>
                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width">
                        <mat-label>Aadhaar Number</mat-label>
                        <input required [(ngModel)]="credentials.aadhaarNumber" name="aadhaarNumber"
                        type="text" #control1="ngModel" matInput/>
                        <mat-error *ngIf="control1.invalid && control1.invalid">  
                            <div *ngIf="control1.errors?.['required']">aadhaar number is required</div>  
                        </mat-error> 
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Pension Amount</mat-label>
                        <input required [(ngModel)]="credentials.pensionAmount" name="pensionAmount"
                        type="number" #control1="ngModel" matInput/>
                        <mat-error *ngIf="control1.invalid && control1.invalid">  
                            <div *ngIf="control1.errors?.['required']">pension amount is required</div>  
                        </mat-error> 
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Bank Charge</mat-label>
                        <input required [(ngModel)]="credentials.bankServiceCharge" name="bankServiceCharge"
                        type="number" #control1="ngModel" matInput/>
                        <mat-error *ngIf="control1.invalid && control1.invalid">  
                            <div *ngIf="control1.errors?.['required']">bank charge is required</div>  
                        </mat-error> 
                    </mat-form-field>
                    <br>
                    <br>
                    <div class="container text-center">
                        <button type="submit" class="btn btn-success">Disburse Pension</button>
                        <button type="reset" class="btn btn-danger" style="margin-left: 10px;">Reset</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

